body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
}

ul {
  list-style-type: none;
  padding-left: 0;
  color: #69696a;
}

.bio {
  border-left: 3px solid #000;
  padding-left: 1em;
}
