body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  margin: 20px;
}
main {
  height: 100vh;
}

/* navigation styling */
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 10px 0;
}

li {
  margin: 7px 0;
}

.circle {
  visibility: hidden;
}

/* anchor state styling */
a {
  text-decoration: none;
  color: #69696a;
}

a:hover {
  color: #000;
}

a:active {
  color: rgb(191, 143, 255);
}

/* indented text with bar on the left */
.description {
  border-left: 3px solid #69696a;
  padding-left: 1em;
  color: #69696a;
  margin-bottom: 2em;
}

/* button state styling */
button {
  font-family: "Open Sans", sans-serif;
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
}

button:hover {
  background-color: #69696a;
  border: none;
}

button:active {
  background-color: rgb(191, 143, 255);
  border: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* top section */
  header {
    display: flex;
    justify-content: space-between;
  }
  nav {
    display: flex;
    flex-direction: row;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0 10px;
  }
  li {
    margin: 0 10px;
  }
  button {
    width: fit-content;
    padding: 5px 10px;
    margin: 0;
  }

  main {
    display: flex;
    margin: 100px 0;
  }

  .container {
    flex-grow: 1;
    flex-basis: 50%;
  }

  /* scroll down button at the bottom */
  .fixed-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  /* circle styling */
  .circle {
    visibility: visible;
    border-radius: 100%;
    position: fixed;
  }
  .circle.pink {
    background-color: rgba(247, 136, 167, 0.6);
    width: 250px;
    height: 250px;
    right: 80px;
  }
  .circle.purple {
    background-color: rgba(207, 130, 213, 0.6);
    width: 100px;
    height: 100px;
    right: 20px;
    top: 200px;
  }
  .circle.orange {
    background-color: rgba(247, 193, 162, 0.7);
    width: 150px;
    height: 150px;
    right: 20px;
    top: 280px;
  }
}
